/* Defalt Size */

/* ===== Estilos base: Mobile First (0px até 480px) ===== */
/* Aqui ficam os estilos padrões, pensando em celulares pequenos e normais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  background-color: #FFEFE3;
  font-family: Montserrat;
  font-size: 0.8rem;
}
.navbar{
  display: flex;
}
.title{
  width: 80%;
  background-color:#FFEFE3;
  padding: 10px;
}
.title-text{
  font-size: 1.5rem;
  font-family: Advent Pro, Arial;
  margin: 0;
}
.title-subtext{
  font-size: 0.8rem;
  font-family: Advent Pro, Arial;
}
.iconsand{
  width: 30px;
  height: auto;
}
.navsand{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  width: 20%;
}
.body-img{
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-img-config{
  width: 100%;
  height: auto;
}
.imovel-ideal{
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
}
.imovel-ideal-text{
  font-size: 1rem;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 15px;
  color: #262626;
}
.imovel-ideal-subtext{
  font-size: 0.8rem;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #BF9B6F;
}
.cards-container{
display: flex;
flex-direction: column;
gap: 0.3rem;
align-items: center;
padding-bottom: 25px;
}
.card-destaque{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #d8b27d;
  width: 36.5vh;
  padding: 13px;
  box-sizing: border-box;
}
.cards-baixo{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}
.card{
  border: 1.5px solid #d8b27d;
  align-items: center;
  display: flex;
  padding: 1.1vh;

}
.filtro{
  text-align: center;
}

.diamondicon{
  width: 20px;
  vertical-align: middle;
  object-fit: contain;
}
.apartmenticon{
  width: 20px;
  margin-bottom: 8px;
  object-fit: contain;
}
.houseicon{
  width: 20px;
  margin-bottom: 8px;
  object-fit: contain;
}
.layersicon{
  width: 20px;
  margin-bottom: 8px;
  object-fit: contain;
}

@media (min-width: 481px) and  (max-width: 768px) {
.cards-container{
display: flex;
flex-direction: column;
gap: 0.3rem;
align-items: center;
}
.card-destaque{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #d8b27d;
  width: 36.5vh;
  padding: 13px;
  box-sizing: border-box;
}
.cards-baixo{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}
.card{
  border: 1.5px solid #d8b27d;
  align-items: center;
  display: flex;
  padding: 1.1vh;
}
}
  @media (min-width: 769px) and (max-width: 1024px) {

  }
  /* ===== Laptops e desktops menores(1024px -1535px) ===== */
  @media (min-width: 1025px) and (max-width: 1280px) {
    /* Ajustes para laptops e desktops padrão */
  }
  
  /* ===== Desktop Normais  (1536px +) ===== */
  @media (min-width: 1536px) {
    /* Ajustes para telas ultra grandes: 2K, 4K, UltraWide */
  } 